:root {
  --color-blue: #2565B7;
  --bg-color: #101010;
  --font-size-header: 4rem;
  --card-bg: #1c1818;
  --span-red: #7a2e2ea2;
  --color-red: #D76262;
  --color-yellow: #D7B762;
  --color-green: #62D76A;
}
.progress-header {
  display: flex;
  justify-content: space-between; /* pushes text to opposite ends */
  align-items: center;
  color: white;
  margin-bottom: 8px;
}

.progress-box {
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 999px;
  transition: width 0.3s ease;
}
.exercise-table {
  border-collapse: collapse;
  width: 100%;
}

.exercise-table th,
.exercise-table td {
  border: 1px solid #131313;
  padding: 8px;
  text-align: left;
  color: white;
  background: var(--card-bg);
}

.exercise-table th {
  background: #0a0a0a;
  color: white;
}
body {
  background: var(--bg-color);
  color: white;
  font-family: Arial, sans-serif;
}
.form-control {
  background: var(--card-bg) !important;
  color: white !important;
  border: 1px solid #333;
}
.form-control::placeholder {
  color: white !important
}
.form-control:focus {
  border: 1px solid black;
  outline: none;
}
.form-select {
  background: var(--card-bg) !important;
  font-size: 1rem;
  padding: 8px 12px;
  border-bottom: 1px solid #333;
  color: white !important;
}
option {
  color: white !important;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  z-index: 9999;
}
.loader.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}