:root {
  --color-blue: #2565B7;
  --bg-color: #181616;
  --font-size-header: 4rem;
  --card-bg: #231F1F;
  --span-red: #7a2e2ea2;
  --color-red: #D76262;
  --color-yellow: #D7B762;
  --color-green: #62D76A;
}
.progress-header {
  display: flex;
  justify-content: space-between; /* pushes text to opposite ends */
  align-items: center;
  color: white;
  margin-bottom: 8px;
}

.progress-box {
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 999px;
  transition: width 0.3s ease;
}